<header>
    <nav id="main-nav">
        <div id="logo" class="main-head">
            <a href="/">CHAT <span>WITH</span> WORLD</a>
        </div>
        

        <a href="#" id="toggle-button">
            <span id="ham-bar"></span>
            <span id="ham-bar"></span>
            <span id="ham-bar"></span>
        </a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login" id="login-btn">Sign In</a></a></li>
            <li><a href="/register" id="sign-btn">Create Account</a></a></li>
        </ul>

    </nav>
</header>